<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>React Microfrontends</title>
  <link rel="icon" type="image/x-icon" href="images/box.png">
  <meta name="importmap-type" content="systemjs-importmap" />


  <script type="systemjs-importmap" src="<%= URL %>"></script>
  <% if (isLocal) { %>

  <!-- <script type="systemjs-importmap">
    {
      "imports": {
        "@meh-dev/root-config": "//localhost:9000/root-config.js"
      }
    }
  </script> -->
  <% } %>

  <% if (isLocal || staging || review) { %>

  <script src="https://cdn.jsdelivr.net/npm/import-map-overrides/dist/import-map-overrides.js"></script>
  <% } %>

  <script src="https://cdn.jsdelivr.net/npm/systemjs/dist/system.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/systemjs/dist/extras/amd.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/systemjs/dist/extras/named-exports.min.js"></script>

  <% if (isLocal || staging || review) { %>

  <script>
    // bust browser system.js cache for staging and local development

    const systemResolve = System.resolve;
    System.resolve = async function (id, parent) {
      const resolved = await systemResolve.call(this, id, parent);
      debugger
      return resolved + '?cache=' + new Date(Date.now()).getTime();
    };
  </script>
  <% } %>
</head>

<body>

  <script>
    System.import('@dev-box/root-config');
    System.import('@dev-box/styleguide');
  </script>

  <% if (isLocal || staging  || review ) { %>
  <import-map-overrides-full></import-map-overrides-full>
  <% } %>

  <!-- <import-map-overrides-full show-when-local-storage="devtools" dev-libs></import-map-overrides-full> -->
</body>

</html>